// Building
SDKROOT = macosx
MACOSX_DEPLOYMENT_TARGET = 11.0
ARCHS = $(ARCHS_STANDARD_64_BIT)

// Only debug
ONLY_ACTIVE_ARCH = YES

// Debugging
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

// Signing
CODE_SIGN_IDENTITY = -
CODE_SIGN_STYLE = Manual
PROVISIONING_PROFILE_SPECIFIER =

// Swift
SWIFT_VERSION = 5.0
SWIFT_COMPILATION_MODE = singlefile
SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES

SDKROOT = macosx11.0

